body{
  background: #f6f3ee;
}



div.body{
  background: white;
}

a{
  color: black;
}

div.top-menu{
  background: url(http://100th.ntub.edu.tw/style/25/images/head_ri.gif);
  background-size: cover;
  border-radius: 5px;
}

.top-menu ul{
  list-style: none;
  text-align: center;
}

.top-menu ul a{
  color: white;
  font: bold;
}

.top-menu ul li > a::before{
  content: url(http://100th.ntub.edu.tw/style/25/images/hd_nav_li.gif);
}

.dropdown-menu{
  background-color: #ec5617;
}

div.content{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h4{
  color: #575656;
}

h4::before{
  content: '';
  border: 5px #ec5617 solid;
}