@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css); 

body{
  background: url("../images/web-bg.gif") repeat repeat;
  font-family: 'Noto Sans TC', sans-serif; 
}

div.container{
  padding: 0;
  box-shadow: 0 0 20px #AAAAAA;
  border: #d2d2d2 1px solid;
  background-color: white;
}

/* navbar------------------------------- */

nav.navbar{
  background-color: #e9e9e9;
  height: 30px;
  border-bottom: #d2d2d2 1px solid;
}

nav.navbar > a,
nav.navbar > form,
nav.navbar > form > input,
nav.navbar > form > button{
  height: 25px;
}

nav.navbar,
nav.navbar > a,
nav.navbar > form,
nav.navbar > form > input,
nav.navbar > form > button{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

nav.navbar > form > button{
  background-image: url("../images/navbar-button.gif");
  width: 74px;
}

span#navbar-slogan{
  color: #004080;
  font-size: 12px;
  vertical-align: top;
}

/* department-------------------------------- */
div#department{
  padding-left: 16px;
  padding-right: 16px;
  border-top: 3px solid #f3f3f3;
}

span#department-name{
  font-size: 25px;
  font-weight: bold;
}

/* breadcrumb-------------------------------- */
nav#breadcrumb,
nav > ol.breadcrumb{
  height: 33px;
  background: none;
}

nav#breadcrumb{
  background: url("../images/line.png") ;
  background-size: contain;
  border: 1px solid #83bbd9;
}

.breadcrumb-item + .breadcrumb-item::before{
  content: url("../images/narbar-arrow.gif");
}

nav > ol.breadcrumb{
  margin-bottom: 0;
  padding: 5px 16px 0 16px;
}

ol.breadcrumb > li > a{
  color: #717172;
  font-size: 12px;
  text-decoration: none;
  padding: 3px;
}

ol.breadcrumb > li > a:hover{
  background-color: #9edafb;
  color: black;
}
/* body----------------------------------- */
div.body{
  padding: 0 16px;
  margin-top: 20px;
}

div.left-bar{
  margin-bottom: 50px;
}

div.left-bar *{
  color: #004080;
  font-weight: bold;
}

div.left-bar{
  border: 1px solid #cfcfcf;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 3px #f3f3f3;
}

div.left-bar div.list-bar-title,
div.left-bar > div > a,
div.left-bar > a{
  height: 40px;
  padding: 10px 20px 0 10px;
  font-size: 12px;
}

a.list-group-item{
  border: none;
  margin: 0;
}

div.list-bar-title{
  border: 1px solid #83bbd9;
  background: linear-gradient(to bottom, #dff3fb 0%,#dff3fb 50%,#b6e0f8 50%,#b6e0f8 100%); 
  border-radius: 5px;
  margin: 2px;
}

span.list-bar-text{
  font-size: 14px;
}

a.left-bar-item{
  background-color: #f7f7f7;
}

a.left-bar-item:hover{
  background-color: #b6e1f7;
}

div.sub-left-bar{
  border: 1px solid #83bbd9;
  background-color: #f7f7f7;
}

div.sub-left-bar > ul{
  margin-bottom: 0;
}

div.sub-left-bar > ul > li.sub-left-bar-item{
  padding-left: 10px;
  margin-right: 10px;
}

div.sub-left-bar > ul > li.sub-left-bar-item:hover{
  background-color: #b6e1f7;
}

div.sub-left-bar > ul > li.sub-left-bar-item > a{
  text-decoration: none;
  font-size: 12px;
}

.list-group-item:first-child {
  border-radius: 0;
}

/* content----------------------------------- */
div.content-title,
div.content-title > u > a{
  font-size: 13px;
  font-weight: 500;
  color: #004080;
}

div.content{
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 3px #f3f3f3;
  padding: 20px 15px;
  margin-top: 15px;
  font-size: 13px;
}

div.content > span.content-link > a{
  color: #004080;
  text-decoration: underline;
}

div.content > span.content-date{
  font-size: 11px;
}

/* footer------------------------------------ */
div.footer{
  color: #004080;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 10px;
  line-height: 15.5px;
  border-top: #b6e0f9 solid 2px;
}